

<div *ngIf="transaction">
      <h2>Detail is here: {{transaction.description}} </h2>
      <div><label>id: </label>{{transaction.id}}</div>
      <div>
        <label>description: </label>
        <input [(ngModel)]="transaction.description" placeholder="name"/>
      </div>
      <ul class="transactions">
	      <li *ngFor="let entrytransaction of entryTransactions"
	      [class.selected]="entrytransaction === selectedEntryTransaction"
	    (click)="onSelect(entrytransaction)">
	        <span class="badge">{{entrytransaction.id}}:</span> {{entrytransaction.type}}, {{entrytransaction.amount}}
	  	  </li>
  	  </ul>
</div>

<div *ngIf="selectedEntryTransaction">
  <h2>
    {{selectedEntryTransaction.id}} is current entry transaction
  </h2>
  <button (click)="gotoDetail()">View Details</button>
  
</div>

<div>
	<button (click)="goBack()">Back</button>
</div>